 body {
  background-color: blue;
 }
 
 .circle {
   width: 100px;
   height: 100px;
   background-color: rgb(188, 37, 37);
   position: absolute;
   border-radius: 50px;
   color: white;
   display: flex;
   align-items: center;
   justify-content: center;
 }

